<div class="login-auth">
  <img alt="Wave pattern" class="login-auth__background" src="/images/wave-pattern.svg" />

  <div class="login-auth__content">
    <div class="login-auth__welcome">
      <img alt="Profile icon" class="login-auth__welcome-icon" src="/images/profile-icon.svg" />
      <h1 class="login-auth__welcome-title">¡Te damos la bienvenida!</h1>

      <p class="login-auth__welcome-description">
        Accede a todas las herramientas para facilitar tu trabajo. Por favor, inicia sesión con tus
        credenciales para continuar.
      </p>
    </div>

    <div class="login-auth__card">
      <img alt="Kaufmann" class="login-auth__card-logo" src="/images/logo.svg" />

      <form [formGroup]="form" class="login-auth__form">
        <app-input
          [error]="getErrorMessage('email')"
          formControlName="email"
          id="email"
          label="Usuario"
          name="email"
          placeholder="Ingrese su usuario"
          type="email"
        />

        <app-input
          [error]="getErrorMessage('password')"
          [type]="showPassword() ? 'text' : 'password'"
          formControlName="password"
          id="password"
          label="Contraseña"
          name="password"
          placeholder="Ingrese su contraseña"
        >
          <ng-icon
            (click)="handleTogglePasswordVisibility()"
            [name]="showPassword() ? 'showPasswordIcon' : 'hidePasswordIcon'"
            suffix
          />
        </app-input>

        @if (errorMessage()) {
          <div class="login-auth__error">
            <ng-icon name="errorIcon" />

            <span class="login-auth__error-message">
              El usuario y/o contraseña no son correctos. Vuelve a intentarlo.
            </span>
          </div>
        }

        <app-button (click)="handleSignIn()" [fullWidth]="true">
          <ng-icon name="loginIcon" />
          Iniciar sesión
        </app-button>
      </form>
    </div>
  </div>
</div>
