@use 'shared/styles/theme' as *;

.login-auth {
  align-items: center;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  .login-auth__background {
    height: 100%;
    inset: 0;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .login-auth__content {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 80rem;
    padding: $base-container-spacing;
    position: relative;

    .login-auth__welcome {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .login-auth__welcome-icon {
        height: 4rem;
        width: 4rem;
      }

      .login-auth__welcome-title {
        color: $primary-main;
        font-size: 2.25rem;
        font-weight: 700;
      }

      .login-auth__welcome-description {
        color: $text-muted;
        font-size: 1.15rem;
      }
    }

    .login-auth__card {
      background-color: $white;
      border-radius: 1rem;
      box-shadow: $base-shadow;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 4rem;

      .login-auth__card-logo {
        height: auto;
        width: 12.75rem;
      }

      .login-auth__form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        [name='password'] .input__suffix {
          cursor: pointer;
        }

        .login-auth__error {
          align-items: center;
          background-color: rgba($error-light, 0.4);
          border-radius: 0.5rem;
          color: $error-dark;
          display: flex;
          gap: 0.5rem;
          padding: 1rem;

          .login-auth__error-message {
            flex: 1;
            font-size: 0.75rem;
          }
        }
      }
    }

    @media (min-width: $base-breakpoint-xl) {
      gap: 10rem;
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $base-breakpoint-md) {
      padding: 1.5rem;

      .login-auth__card {
        padding: $base-container-spacing;
      }
    }
  }
}
