@use 'shared/styles/functions' as *;
@use 'shared/styles/theme' as *;

.crud-detail {
  padding: $base-container-spacing;

  .crud-detail__content {
    background-color: $white;
    border-radius: 1rem;
    box-shadow: $base-shadow;
    display: grid;
    gap: 1.5rem;
    padding: $base-container-spacing;

    .crud-detail__item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .crud-detail__label {
        font-size: 0.625rem;
        font-weight: 600;
        letter-spacing: 0.03125rem;
        text-transform: uppercase;
      }

      .crud-detail__value {
        border-bottom: 0.0625rem solid get-color(gray, 200);
        font-size: 1.1rem;
        font-weight: 500;
        padding-bottom: 0.875rem;
      }
    }
  }
}
